
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  --primary-font: "Poppins", sans-serif;

  --nutral-color-100: #ffffff;

  --nutral-color-300: #e02c6d;

  --nutral-color-500: #3a3a3a;

}


*,
*::before,
*::after{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body{

  font-family: var(--primary-font);

}


    .hero_area .nav_area{
  
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1rem;

    }
        
        .hero_area .nav_area ul{
          
          display: flex;
          flex-direction: column;
          
        }
        
        
        .hero_area .nav_area ul li{
          
          list-style-type: none;
          padding: 0.5rem;
          font-weight: 600;
          margin: 0;
          }


.hero_area .img_container{

  padding: 20%;
  background-image: url("./images/Circle design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
    
    .hero_area .hero_section img{
    
      width: 100%;
    }

  .hero_area .hero_section .text_container{
  
    padding: 2rem;
    text-align: center;
  }

  .hero_area .hero_section .text_container h1{
  
    font-size: 2rem;
  }
    
      .hero_area .hero_section .text_container button{
      
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: rgb(224, 44, 109);
        color: white;
      }

      .hero_area .hero_section .text_container button i{
      
        padding-left: 0.5rem;
      }